<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $style := resources.Get "style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">Příklady dobré praxe Brno</a></h1>
    </header>
    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
