{{ define "main" }}
<h1 class="title">
{{ partial "typo.html" .Params.title }}
{{- with .Params.title2 }}: <span class="more">{{ . }}</span> {{ end }}

{{ partial "length.html" (dict "len" 4400 "text" (print .Params.story .Params.analysis .Params.design .Params.solution .Params.constraints .Params.conclusion)) }}

</h1>
<p class="subtitle">{{ partial "typo.html" .Params.subtitle }}</p>

<section class="story">
	<h2>Ilustrační příběh {{ partial "length.html" (dict "len" 1100 "text" .Params.story) }}</h2>
	{{ partial "typo.html" .Params.story }}
	<img src="./{{ .Params.before.name }}" alt="{{ .Params.before.alt }}">
</section>

<section class="analysis">
	<h2>Analýza {{ partial "length.html" (dict "len" 500 "text" .Params.analysis) }}</h2>
	{{ partial "typo.html" .Params.analysis }}

</section>

<section class="design">
	<h2>Návrh {{ partial "length.html" (dict "len" 300 "text" .Params.design) }}</h2>
	{{ partial "typo.html" .Params.design }}
</section>

<section class="solution">
	<h2>Konkrétní realizace v Brně {{ partial "length.html" (dict "len" 1300 "text" .Params.solution) }}</h2>
	{{ partial "typo.html" .Params.solution }}
	<img src="./{{ .Params.after.name }}" alt="{{ .Params.after.alt }}">
</section>

{{ with .Params.timeline }}
<section class="timeline">
  <h2>Časová osa</h2>
  <ul>
    {{ range . }}
      <li class="parts-{{ .parts }}">
        <strong>{{ .time }}:</strong> {{ partial "typo.html" .name }}
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}

<section class="constraints">
	<h2>Omezení řešení {{ partial "length.html" (dict "len" 700 "text" .Params.constraints) }}</h2>
	{{ partial "typo.html" .Params.constraints }}
</section>

<section class="conclusion">
	<h2>Závěry {{ partial "length.html" (dict "len" 600 "text" .Params.conclusion) }}</h2>
	{{ partial "typo.html" .Params.conclusion }}
</section>

{{ with .Params.dictionary }}
<section class="dictionary">
  <h2>Slovníček</h2>
  <dl>
    {{ range . }}
      {{ range where $.Site.Pages "Title" . }}
        <dt>{{ .Title }}</dt>
        <dd>{{ partial "typo.html" .RawContent }}</dd>
      {{ end }}
    {{ end }}
  </dl>
</section>
{{ end }}

<footer>
  <p><a href="/">Zpět na seznam pasportů</a></p>
</footer>
{{ end }}
