{{ define "main" }}
    {{ range sort (where (where (where .Site.Pages "Section" "pasport") "Kind" "page") "Params.number" ">" 0) "Params.number" "asc" }}
      <h2>
        {{ .Params.number }} <a href="{{ .RelPermalink }}">{{ .Title }}{{- with .Params.title2 }}:<br> <span class="more">{{ . }}</span> {{ end }}</a>
      </h2>
      <p>{{ .Params.subtitle }}</p>
    {{ end }}

    {{ range sort (where (where (where .Site.Pages "Section" "pasport") "Kind" "page") "Params.number" "!=" "") "Title" }}
      <h2>
        # <a href="{{ .RelPermalink }}">{{ .Title }}{{- with .Params.title2 }}:<br> <span class="more">{{ . }}</span> {{ end }}</a>
      </h2>
      <p>{{ .Params.subtitle }}</p>
    {{ end }}

    <h2 id="slovnicek">Slovníček</h2>
    <p><a href="{{ "/dict/" | absURL }}">všechna hesla na jedné stránce</a></p>

    <ul>
      {{ range sort (where (where .Site.Pages "Section" "dict") "Kind" "page") "Title" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ with .Params.status }}
          {{ if eq . "příprava" }}<span style="color: red">●</span>{{ end }}
          {{ if eq . "napsáno" }}<span style="color: orange">●</span>{{ end }}
          {{ if eq . "hotovo" }}<span style="color: green">●</span>{{ end }}

          <span style="color: gray">{{ . }}</span>
        {{ end }}
      </li>
      {{ end }}
    </ul>
{{ end }}
